{% extends "layout.html" %}
{% block body %}
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-content-center">
      <form class="m-2" action="/find_contacts" method="POST">
        <div class="form-group">
          <input class="form-text" type="username" name="username" placeholder="search by username">
        </div>
        <div class="form-group m-2">
          <input type="submit" class="btn btn-primary" value="Find Users">
        </div>
      </form>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      {% if userlen != 0 %}
        {% for user in users %}
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ user }}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <form action="/add_contact" method="post">
                  <input type="hidden" name="user" value="{{ user }}">
                  <input class="btn btn-primary" type="submit" name="connect" value="Connect"/>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
    </div>
  </div>

    <div class="col-md-12 justify-content-center">
      <p>No users found :(</p>
    </div>
  {% endif %}
{% endblock %}
