{% extends "layout.html" %}
{% block body %}
<style>
  .col-centered {
    float: none;
    margin: 0 auto;
  }
</style>
<div class="container">
  <div class="row justify-content-center">
      <div class="col-centered col-lg-12 col-md-12 col-sm-12 col-xs-12 my-5 p-3 rounded bg-primary">
        <h3 class="text-white text-center m-3">Welcome back!</h3>
        <form class="p-2" action="/login" method="POST">
          <div class="text-center">
            <input class="form-control" type="username" name="username" placeholder="Username">
            <input class="form-control" type="password" name="password" placeholder="Password">
          </div>
          <div class="text-center m-2">
            <input type="submit" value="Log in">
          </div>
          <div class="text-center">
            <a href="register" class="text-white">Not a member? Sign Up Today!</a>
          </div>
        </form>
      </div>
  </div>

  {% include "error.html" %}

</div>

{% endblock %}
