{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-centered col-lg-12 col-md-12 col-sm-12 col-xs-12 my-5 p-3 rounded bg-primary" style="float: none;">
        <h3 class="text-white text-center m-3">Join the fun!</h3>
        <form action="/register_user" method="POST">
          <div class="text-center">
            <input class="m-2" type="username" name="username" placeholder="Username">
            <input class="m-2" type="email" name="email" placeholder="Email">
            <input class="m-2" type="password" name="password" placeholder="password">
          </div>
          <div class="text-center m-2">
            <input type="submit" value="Register">
          </div>
        </form>
      </div>
        {% if error != None %}
          {% include "error.html" %}
        {% endif %}
      </div>
  </div>
</div>

{% endblock %}
